.negrita{
    font-weight: bold;
    border:1px solid black;
}

.borde{
    border:1px solid black;
}

.titulo{
    font-weight: bold;;
}

.ellipsis {
    display: inline-block;
    max-width: 150px; /* Ajusta el tamaño según tus necesidades */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }