<p-dialog header="{{tituloModal}}" [(visible)]="displayModal" [modal]="true"
    [draggable]="false" [resizable]="false">
    <p class="m-0">
      <p-organizationChart [value]="data1" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
        styleClass="company">
        <ng-template let-node pTemplate="person">
            <div class="node-header">{{node.label}}</div>
            <div class="node-content">
              <div>{{node.data.name}}</div>
              <i class="fas fa-ellipsis-h fa-2x" style="color: red;"></i>
            </div>
        </ng-template>
        <ng-template let-node pTemplate="department">
          {{node.label}}
        </ng-template>
      </p-organizationChart>
    </p>
        <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>
<div class="row">
  <div class="col-12 col-lg-7">
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  </div>
  <div class="col-12 col-lg-5 row text-end align-self-center p-0 m-0"style="color: gray">
    <div class="col-1 col-md-3" style="font-weight: bold">Unidad/Dependencia:</div>
    <div class="col-11 col-md-9">{{ sesionDep }}</div>
  </div>
</div>
<div class="navegacion">
  <h2 class="navegacion__titulo">Mapa de Plan Estratégico</h2>
  <em>Mapa del Plan Estratégico</em>
</div>
<div class="row col-8 m-2">
  <div class="col-3 tituloPros align-self-center">Plan Estratégico:</div>
  <div class="col-9">
    <p-dropdown [options]="listaPlanE" appendTo="body" [(ngModel)]="txtPlan" placeholder="Seleccionar Plan Estartégico" optionValue="plan_id" [filter]="true" filterBy="plan_nombre" optionLabel="plan_nombre" [showClear]="true" (onChange)="obtenerEst($event)"></p-dropdown>
  </div>
</div>
<p-accordion [multiple]="true">
    <p-accordionTab *ngFor="let estructura of listaEstructuraPlan"  header="{{estructura.est_codigo}}-{{estructura.eplan_codigo}}.{{estructura.eplan_nombre}}" [selected]="true">
      <div class="row mb-2">
        <div class="col" *ngFor="let est of estructura.pertenece">
          <p-card header="{{est.est_codigo}}-{{est.eplan_codigo}}" subheader="{{est.est_nombre}}" [style]="{width: '300px'}" styleClass="p-card-shadow">
            <p style="text-align: justify;">{{est.eplan_nombre}}</p>
            <ng-template pTemplate="footer">
              <div class="text-center" (click)="abrirModal(est)"><i class="fas fa-ellipsis-h fa-2x" style="color: red;"></i></div>
            </ng-template>
          </p-card>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>