<p-toast></p-toast>
<p-dialog [(visible)]="modalReporte" header="REPORTE PDF" [modal]="true" styleClass="p-fluid" position="top" [style]="{width:'60vw', height:'60vw'}">
  <embed [src]="url" [type]="tipo" width="100%" height="100%">
</p-dialog>
<div class="row">
    <div class="col-12 col-lg-7"><p-breadcrumb [model]="items" [home]="home"></p-breadcrumb></div>
    <div class="col-12 col-lg-5 row text-end align-self-center p-0 m-0" style="color: gray;"><div class="col-1 col-md-3" style="font-weight: bold;">Unidad/Dependencia:</div>
    <div class="col-11 col-md-9">{{sesionDep}}</div></div>
  </div>
  <div class="navegacion">
    <h2 class="navegacion__titulo">Generación de Cronograma</h2>
    <em>Cronograma del Plan Estratégico</em>
  </div>
  <div class="row">
    <div class="row col-8 m-2">
        <div class="col-3 tituloPros align-self-center">Plan Estratégico:</div>
        <div class="col-9"><p-dropdown [options]="listaPlanE" appendTo="body" [(ngModel)]="txtPlan" placeholder="Seleccionar Plan Estratégico" optionValue="plan_id" [filter]="true" filterBy="plan_nombre" optionLabel="plan_nombre" [showClear]="true" (onChange)="obtenerEst($event)"></p-dropdown></div>
    </div>
    <div class="row col-4 text-end" *ngIf="txtPlan!='0' && txtPlan!=''">
      <div>
        <button pButton pRipple type="button" icon="pi pi-file-pdf" class="p-button-rounded" title="PDF Cronograma" (click)="verCronograma()"></button>
    </div>
  </div>
<p-treeTable [value]="estructura" [columns]="cols">
  <ng-template pTemplate="header">
    <tr>
        <th class="text-center" rowspan="2" style="font-size: 0.85em;">Código</th>
        <th class="text-center" rowspan="2" style="font-size: 0.85em;">Nombre</th>
        <th *ngFor="let col of cols" [attr.colspan]="periodo" class="text-center" style="font-size: 0.85em;">{{col}}</th>
        <th rowspan="2"></th>
    </tr>
    <tr>
      <ng-container *ngFor="let col of cols">
        <th *ngFor="let per of periodoa" style="font-size: 0.85em;">
          {{per}}
        </th>
      </ng-container>
    </tr>
  </ng-template>
  <!--<ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode">
        <ng-container *ngIf="rowData.orden==0; else orden">
          <td>
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            {{rowData.eplan_codigo}}
          </td>
          <th [attr.colspan]="(anios+1)*periodo">{{rowData.eplan_nombre}}</th>
        </ng-container>
        <ng-template #orden>
          <ng-container *ngIf="rowData.suma>0 && rowData.suma<100; else color">
            <td class="status-0">
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{rowData.eplan_codigo}}
            </td>
            <td class="status-0" style="font-size: 0.8em;">{{rowData.eplan_nombre}}</td>
            <ng-container *ngIf="rowData.cronograma.length>0; else sincronograma">
              <td class="status-0" *ngFor="let cro of rowData.cronograma" style="font-size: 0.8em;">
                {{cro.cro_valor}}%
              </td>
            </ng-container>
            <ng-template #sincronograma>
              <th *ngFor="let col of cols"></th>
            </ng-template>
          </ng-container>
          <ng-template #color>
            <td>
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{rowData.eplan_codigo}}
            </td>
            <td>{{rowData.eplan_nombre}}</td>
            <ng-container *ngIf="rowData.cronograma.length>0; else sincronograma">
              <td *ngFor="let cro of rowData.cronograma">
                {{cro.cro_valor}}%
              </td>
            </ng-container>
            <ng-template #sincronograma>
              <th *ngFor="let col of cols"></th>
            </ng-template>
          </ng-template>
        </ng-template>
    </tr>
</ng-template>-->
<ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
  <tr [ttRow]="rowNode">
    <ng-container *ngIf="rowData.orden==0; else orden">
      <td style="font-size: 0.8em;">
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{rowData.eplan_codigo}}
      </td>
      <th [attr.colspan]="(anios+1)*periodo">{{rowData.eplan_nombre}}</th>
    </ng-container>
    <ng-template #orden>
      <ng-container *ngIf="(rowData.suma>0 && rowData.suma<100) || rowData.suma==null; else color">
        <td style="font-size: 0.8em;" class="status-0">
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          {{rowData.eplan_codigo}}
        </td>
        <td class="status-0" style="font-size: 0.8em;">{{rowData.eplan_nombre}}</td>
          <td class="status-0" style="font-size: 0.8em;" *ngFor="let cro of rowData.cronograma" ttEditableColumn>
              <p-treeTableCellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" class="form-control" [(ngModel)]="cro.cro_valor">
                  </ng-template>
                  <ng-template pTemplate="output">{{cro.cro_valor}}%</ng-template>
              </p-treeTableCellEditor>
          </td>
      </ng-container>
      <ng-template #color>
        <td style="font-size: 0.8em;">
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
          {{rowData.eplan_codigo}}
        </td>
        <td style="font-size: 0.8em;">{{rowData.eplan_nombre}}</td>
        <td style="font-size: 0.8em;" *ngFor="let cro of rowData.cronograma" ttEditableColumn>
          <p-treeTableCellEditor>
              <ng-template pTemplate="input">
                  <input pInputText type="text" class="form-control" [(ngModel)]="cro.cro_valor">
              </ng-template>
              <ng-template pTemplate="output">{{cro.cro_valor}}%</ng-template>
          </p-treeTableCellEditor>
        </td>
      </ng-template>
      <td *ngIf="rowData.sumah==0"><div (click)="agregarCro(rowData.cronograma)" *ngIf="txtPlanEstado"><i class="fas fa-save"></i></div></td>
    </ng-template>
  </tr>            
</ng-template>
</p-treeTable>