<p-toast></p-toast>
<!--Modal para ingresar criterios-->
<p-dialog [(visible)]="modalArbol" header="{{tituloModal}}" [modal]="true" styleClass="p-fluid" position="top" [style]="{width: '50vw'}">
    <ng-template pTemplate="content">
        <div class="form-group row m-1" *ngIf="txtCodigo>0">
          <label for="name" class="col-sm-2 col-form-label">Código:</label>
          <div class="col-sm-10">
            <input type="text" pInputText class="form-control" readonly required name="txtCodigo" [(ngModel)]="txtCodigo" placeholder="Código">
          </div>
        </div>  
        <div class="form-group row m-1">
            <label for="name" class="col-sm-2 col-form-label">Descripción:</label>
            <div class="col-sm-10">
              <input type="text" [disabled]="eliminar" pInputText class="form-control" required name="txtNombre" [(ngModel)]="txtNombre" placeholder="Descripción">
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialogA()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="guardarDatos()"></button>
    </ng-template>
</p-dialog>
<div class="row">
    <div class="col-12 col-lg-7"><p-breadcrumb [model]="items" [home]="home"></p-breadcrumb></div>
    <div class="col-12 col-lg-5 row text-end align-self-center p-0 m-0" style="color: gray;"><div class="col-1 col-md-3" style="font-weight: bold;">Unidad/Dependencia:</div>
    <div class="col-11 col-md-9">{{sesionDep}}</div></div>
  </div>
  <div class="navegacion">
    <h2 class="navegacion__titulo">Árbol de Competencias</h2>
    <em>Creación y configuración del árbol de competencias</em>
  </div>
  <div class="row col-7 m-2">
      <div class="col-2 tituloPros align-self-center">Prospectiva:</div>
      <div class="col-10"><p-dropdown [options]="listaProspectivas" appendTo="body" [(ngModel)]="txtProspectiva" placeholder="Seleccionar Prospectiva" optionValue="pro_id" [filter]="true" filterBy="pro_nombre" optionLabel="pro_nombre" [showClear]="true" (onChange)="obtenerPros($event)"></p-dropdown></div>
  </div>
<p-tabView styleClass="tabview-custom">
    <p-tabPanel>
        <ng-template pTemplate = "header">
            <span>Configuración de Árbol</span>
        </ng-template>
        <div>
            <span class="buscar-crear">
                <input pInputText type="text" class="form-control" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" />
            </span>
        </div>
        <div class="widget-header mt-3"><h3>Listado de Acciones consensuadas</h3></div>
        <p-table #dt1 [value]="listaResultados" dataKey="id" [rowHover]="true" scrollHeight="500px" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-gridlines p-datatable-sm"
            [paginator]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [filterDelay]="0"
            [globalFilterFields]="['acc_descripcion','estr_tipo']" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="acc_descripcion">
                            <div class="p-d-flex p-jc-between p-ai-center">Acciones
                                <p-sortIcon field="acc_descripcion"></p-sortIcon>
                                <p-columnFilter type="text" field="acc_descripcion" display="menu" class="p-ml-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="estr_tipo" class="text-center">
                            <div class="p-d-flex p-jc-between p-ai-center">Partes del Árbol
                                <p-sortIcon field="estr_tipo"></p-sortIcon>
                            </div>
                         </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-acciones>
                    <tr>
                        <td>{{acciones.acc_descripcion}}</td>
                        <td>
                            <select [(ngModel)]="acciones.estr_tipo" class="form-select" (change)="guardarPartes(acciones)" [disabled]="!txtProsEstado">
                                <option value="0">Ninguno</option>
                                <option *ngFor="let partes of listaPartes" [value]="partes.tarb_id">{{partes.tarb_nombre}}</option>
                            </select>
                        </td>
                    </tr>
                </ng-template>
        </p-table>
    </p-tabPanel>
    <p-tabPanel header="Header II">
        <ng-template pTemplate = "header">
            <span>Creación de Árbol</span>
        </ng-template>
        <div class="row">
                <div class="row col-12">
                    <div class="row col encabezado text-center m-0 p-0" *ngFor="let col of listaPartes">
                        <div class="col-10">{{col.tarb_nombre}}</div>
                        <div class="col-2" *ngIf="txtProsEstado">
                            <button pButton pRipple icon="fas fa-plus" title="Aregar nuevo {{col.tarb_nombre}}" class="p-button-rounded p-button-text" (click)="agregarNuevo(col)"></button>
                        </div>
                    </div>
                </div>
                <div class="row col-12 cuerpo align-self-center">
                    <div class="row col m-0 p-0" style="border:1px solid black" *ngFor="let col of listaPartes">
                        <div class="m-0 p-0" *ngFor="let rowData of listaEstructura">
                            <div class="row col p-0 m-0"*ngIf="col.tarb_id==rowData.estr_tipo">
                                <div class="col-10">{{rowData.estr_descripcion}}</div>
                                <div class="row col-2 m-0 p-0" *ngIf="txtProsEstado">
                                    <button pButton pRipple icon="fas fa-edit" title="Modificar" class="p-button-rounded p-button-text" (click)="modificarDato(rowData, col.tarb_nombre)"></button>
                                    <button pButton pRipple icon="fas fa-trash" title="Eliminar" class="p-button-rounded p-button-text" (click)="eliminarDato(rowData, col.tarb_nombre)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </p-tabPanel>
  </p-tabView>
