<div class="container-fluid">
    <div class="row text-center align-self-center">
        <div class="col-12 mt-2"><img src="../../../../assets/imagenes/llama.png" alt=""></div>
        <div class="col-12">Usted ingreso con el correo <span>{{correo}}</span>, no tiene acceso a este sitio</div>
        <div class="col-6 mt-2 text-end"><button type="button" class="btn btn-primary">Inicio</button></div>
        <div class="col-6 mt-2 text-start"><button type="button" class="btn btn-primary">Cerrar Sesión</button></div>
    </div>
</div>
