<p-toast></p-toast>
<!--Modal para ingresar prospectiva-->
<p-dialog [(visible)]="modalPlan" header="{{tituloModal}}" [modal]="true" styleClass="p-fluid" position="top" [style]="{width: '50vw'}">
  <ng-template pTemplate="content">
      <div class="form-group row m-1" *ngIf="txtCodigo>0">
        <label for="name" class="col-sm-2 col-form-label">Código:</label>
        <div class="col-sm-10">
          <input type="text" pInputText class="form-control" readonly required [disabled]="eliminar" name="txtCodigo" [(ngModel)]="txtCodigo" placeholder="Código">
        </div>
      </div> 
      <div class="form-group row m-1" *ngIf="banPlan">
        <label for="name" class="col-sm-2 col-form-label">Alinear con:</label>
        <div class="col-sm-10">
          <p-dropdown [options]="listaPlanesSelect" appendTo="body" [(ngModel)]="txtAlineacion" placeholder="Seleccionar Pertenece" optionValue="plan_id" [filter]="true" filterBy="plan_nombre" optionLabel="plan_nombre" [showClear]="true" ></p-dropdown>
        </div>
      </div>
      <div class="form-group row m-1">
          <label for="name" class="col-sm-2 col-form-label">Nombre:</label>
          <div class="col-sm-10">
            <input type="text" pInputText class="form-control" [disabled]="eliminar" required name="txtNombre" [(ngModel)]="txtNombre" placeholder="Nombre">
          </div>
      </div>
      <div class="form-group row m-1">
        <label for="name" class="col-sm-2 col-form-label">Fechas:</label>
        <div class="col-10 row p-0 m-0">
          <div class="col-sm-6">
            <p-calendar [(ngModel)]="txtFechaI" appendTo="body" [disabled]="eliminar" dateFormat="dd/mm/yy" [showIcon]="true" inputId="icon" [hideTransitionOptions]="'1ms'" placeholder="Fecha Inicio"></p-calendar>
          </div>
          <div class="col-sm-6">
            <p-calendar [(ngModel)]="txtFechaF" appendTo="body" [disabled]="eliminar" dateFormat="dd/mm/yy" [showIcon]="true" inputId="icon" [hideTransitionOptions]="'1ms'" placeholder="Fecha Fin"></p-calendar>
          </div>
        </div>
      </div>
      <div class="form-group row m-1">
        <label for="name" class="col-sm-2 col-form-label">Visión:</label>
        <div class="col-sm-10">
          <textarea type="text" pInputText class="form-control" [disabled]="eliminar" required name="txtVision" [(ngModel)]="txtVision" placeholder="Visión del Plan"></textarea>
        </div>
      </div>
      <div class="form-group row m-1">
        <label for="name" class="col-sm-2 col-form-label">Misión:</label>
        <div class="col-sm-10">
          <textarea type="text" pInputText class="form-control" [disabled]="eliminar" required name="txtMision" [(ngModel)]="txtMision" placeholder="Misión del Plan"></textarea>
        </div>
      </div>
      <div class="form-group row m-1" *ngIf="txtCodigo>0">
        <label for="txtEstado" class="col-sm-2 col-form-label">Estado:</label>
        <div class="col-sm-10">
          <select name="sltEstado" id="sltEstado" class="form-control" [disabled]="eliminar" [(ngModel)]="txtEstado">
            <option [ngValue]='1'>Activo</option>
            <option [ngValue]='0'>Inactivo</option>
          </select>
        </div>
      </div>
  </ng-template>
  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialogP()"></button>
      <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="guardarPlan()"></button>
  </ng-template>
</p-dialog>
<p-dialog [(visible)]="modalPlanAprobar" header="{{tituloModal}}" [modal]="true" styleClass="p-fluid" position="top" [style]="{width: '50vw'}">
  <ng-template pTemplate="content">
      <div class="form-group row m-1">
        <label for="name" class="col-sm-2 col-form-label">Código:</label>
        <div class="col-sm-10">
          <input type="text" pInputText class="form-control" disabled="true" required name="txtCodigo" [(ngModel)]="txtCodigo" placeholder="Nombre">
        </div>
      </div>
      <div class="form-group row m-1">
        <label for="name" class="col-sm-2 col-form-label">Plan Estratégico:</label>
      <div class="col-sm-10 align-self-center">
        {{txtPlanEst}}
      </div>
      </div>  
      <div class="form-group row m-1">
          <label for="name" class="col-sm-2 col-form-label">Nombre Archivo:</label>
          <div class="col-sm-10">
            <input type="text" pInputText class="form-control" [disabled]="eliminar" required name="txtNombre" [(ngModel)]="txtNombre" placeholder="Nombre">
          </div>
      </div>
      <div class="form-group row m-1">
        <label for="name" class="col-sm-2 col-form-label">Archivo:</label>
        <div class="col-sm-10">
          <input type="file" pInputText class="form-control" [disabled]="eliminar" required name="txtArchivo" (change)="capturarFile($event)">
        </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialogAp()"></button>
      <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="OnDriveAlmacenar()" *ngIf="txtBotonG"></button>
  </ng-template>
</p-dialog>
<p-dialog [(visible)]="modalReporte" header="DOCUMENTO DE APROBACIÓN" [modal]="true" styleClass="p-fluid" position="top" [style]="{width:'60vw', height:'60vw'}">
  <div id="ver-pdf"></div>
</p-dialog>
<div class="row">
  <div class="col-12 col-lg-7"><p-breadcrumb [model]="items" [home]="home"></p-breadcrumb></div>
  <div class="col-12 col-lg-5 row text-end align-self-center p-0 m-0" style="color: gray;"><div class="col-1 col-md-3" style="font-weight: bold;">Unidad/Dependencia:</div>
  <div class="col-11 col-md-9">{{sesionDep}}</div></div>
</div>
<div class="navegacion">
  <h2 class="navegacion__titulo">Gestión de Planes Estratégicos</h2>
  <em>Creación de planes estratégicos</em>
</div>
<p-tabView styleClass="tabview-custom">
      <div>
        <span class="buscar-crear">
          <button pButton pRipple label="Crear Plan" icon="pi pi-plus" class="p-mr-2" (click)="openNew()"></button>
            <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" />
        </span>
    </div>
    <div class="widget-header mt-3"><h3>Listado de Planes Estratégicos</h3></div>
  <p-table #dt1 [value]="listaPlanes" dataKey="id" [rowHover]="true" scrollHeight="500px"
      [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-gridlines p-datatable-sm"
      [paginator]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas" [filterDelay]="0"
      [globalFilterFields]="['plan_id','plan_nombre', 'estadonombre', 'plan_vision', 'plan_mision', 'plan_fecha_inicio', 'plan_fecha_fin']" responsiveLayout="scroll">
      <ng-template pTemplate="header">
          <tr>
              <th pSortableColumn="plan_id" style="width: 5rem; text-align: center;">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Código
                  <p-sortIcon field="plan_id"></p-sortIcon>
              </div>
              </th>  
              <th pSortableColumn="plan_nombre">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Nombre
                  <p-sortIcon field="plan_nombre"></p-sortIcon>
                  <p-columnFilter type="text" field="plan_nombre" display="menu" class="p-ml-auto"></p-columnFilter>
                </div>
               </th>
               <th pSortableColumn="plan_fecha_inicio">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Fecha Inicio
                  <p-sortIcon field="plan_fecha_inicio"></p-sortIcon>
                  <p-columnFilter type="text" field="plan_fecha_inicio" display="menu" class="p-ml-auto"></p-columnFilter>
                </div>
               </th>
               <th pSortableColumn="plan_fecha_fin">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Fecha Fin
                  <p-sortIcon field="plan_fecha_fin"></p-sortIcon>
                  <p-columnFilter type="text" field="plan_fecha_fin" display="menu" class="p-ml-auto"></p-columnFilter>
                </div>
               </th>
               <th pSortableColumn="plan_vision">
                <div class="p-d-flex p-jc-between p-ai-center text-center">
                  Visión
                </div>
               </th>
               <th pSortableColumn="plan_mision">
                <div class="p-d-flex p-jc-between p-ai-center text-center">
                  Misión
                </div>
               </th>
               <th pSortableColumn="pro_ff">
                <div class="p-d-flex p-jc-between p-ai-center">
                  Dependencia
                </div>
               </th>
               <th class="text-center">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    Estado
                    <p-columnFilter field="plan_estado" matchMode="equals" display="menu">
                      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any">
                              <ng-template let-option pTemplate="item">
                                  <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                              </ng-template>
                          </p-dropdown>
                      </ng-template>
                  </p-columnFilter>
                  </div>
               </th>
               <th style="width: 8rem" class="text-center">
                  <div class="p-d-flex p-jc-between p-ai-center">
                      Acción
                  </div>
               </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-plan>
          <tr>
              <td class="text-center">
                  {{plan.plan.plan_id}}
              </td>
              <td>
                  {{plan.plan.plan_nombre}}
              </td>
              <td>
                {{plan.plan.plan_fecha_inicio|date}}
              </td>
              <td>
                {{plan.plan.plan_fecha_fin|date}}
              </td>
              <td style="text-align: justify;">{{plan.plan.plan_vision}}</td>
              <td style="text-align: justify;">{{plan.plan.plan_mision}}</td>
              <ng-template ngFor let-tipo [ngForOf]="listaDep">
                <td *ngIf="plan.plan.plan_dependencia==tipo.dep_codigo">  
                  {{tipo.dep_nombre}}
                </td>
              </ng-template>
              <td class="text-center">
                <span [class]="'customer-badge status-' + plan.plan.plan_estado">{{plan.plan.estadonombre}}</span>
              </td>
              <td class="text-center">
                <button pButton pRipple icon="pi pi-pencil" title="Editar Plan Estratégico" class="p-button-rounded" (click)="modificarPlan(plan.plan)" *ngIf="plan.plan.plan_estado!=2"></button>
                <button pButton pRipple icon="pi pi-trash" title="Elimiar Plan Estratégico" class="p-button-rounded" (click)="eliminarPlan(plan.plan)" *ngIf="plan.plan.plan_estado!=2"></button>
                <button pButton pRipple icon="fas fa-cog" title="Estructura Plan Estratégico"  class="p-button-rounded" (click)="irpagina(plan.plan)"></button>
                <button pButton pRipple icon="fas fa-clipboard-check" title="Aprobar Plan"  class="p-button-rounded" (click)="aprobarPlan(plan.plan)" *ngIf="plan.plan.plan_estado==1"></button>
                <button pButton pRipple icon="fas fa-file-pdf" title="Ver resolución"  class="p-button-rounded" (click)="verResolucion(plan.archivo)" *ngIf="plan.plan.plan_estado==2"></button>
            </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">No se encontrarón registros.</td>
          </tr>
      </ng-template>
  </p-table>
  </p-tabView>