<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-spinner></app-spinner>
    <app-header (onShowMenuHeader)="onChangeMenuHeader($event)"></app-header>
      <div class="container-fluid contenedor p-0 m-0">
        <app-menu [mostrarMenu]="showMenu" (showMenu)="onShowMenu($event)"></app-menu>
        <div id="main-content-wrapper" class="content-wrapper expanded">
          <router-outlet></router-outlet>
          <app-footer></app-footer>
        </div>
      </div>
  </body>
</html>
